[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=System Upgrade
Name[de]=System Upgrade
Name[el]=Αναβάθμιση Συστήματος
Name[es]=Actualización del Sistema
Name[fr]=Mise à jour du Système
Name[id]=Upgrade Sistem
Name[it]=Aggiorna il Sistema
Name[ja]=システムアップグレード
Name[pl]=Aktualizacja Systemu
Name[pt_BR]=Atualização do sistema (Upgrade)
Name[pt_PT]=Atualização do Sistema
Name[ru]=Обновление системы
Name[sv]=Systemuppgradering
GenericName=System Upgrade
Comment=System Upgrade Tool
Comment[de]=System Upgrade Tool zum aktualisieren
Comment[el]=Εφαρμογή Αναβάθμισης Συστήματος
Comment[es]=Herramienta de Actualización del Sistema
Comment[fr]=Outil pour la mise à jour du Système
Comment[id]=Alat Upgrade Sistem
Comment[it]=Strumento per aggiornare il sistema
Comment[ja]=システムアップグレードツール
Comment[pl]=Narzędzie do aktualizacji systemu
Comment[pt_BR]=Ferramenta do Sistema de Atualização (Upgrade)
Comment[pt_PT]=Ferramenta de Atualização do Sistema
Comment[ru]=Инструмент обновления системы
Comment[sv]=Systemuppgraderingsverktyg
Exec=remsu /usr/bin/sparky-aptus-upgrade
Icon=/usr/share/icons/sparky/upgrade/aptus-upgrade.svg
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

